body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: 40px;
}

button, a {
    background-color: forestgreen;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    padding: 5px 7px;
    text-decoration: none;
    box-shadow: none;
    margin-top: 10px;
}

button:hover, button:hover a {
    background-color: rgb(33, 172, 33);
}

input {
    margin-bottom: 10px;
}

/* .messages {
    padding: 10px;
} */

.messages .error {
    background-color: rgba(255, 0, 0, .2);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}